{{>header}}
    <section class="content background" >
        <div class="main-box">
            <div class="left">
                <p class="h2">The Future Of Students Is here</p>
                <p class="under"> excellence in teaching, learning, and research, and to developing leaders who make a difference globally.</p>
                <div class="butt">
                    <button class="start">Start</button>
                    <button class="contact">Contact Us</button>
                </div>
            </div>
            <div class="right">
                <img src="images/background.png" alt="">
            </div>
        </div>    
    </section>
    <section class="about">
        <p class="title upper">Our Activities</p>
        <div class="batt"><button id="library">Browse Library</button></div>
        <div class="container">
            <div class="first" data-aos="slide-right">
                <img src="images/research.jfif" alt="">
                <div class="text-area">
                    <p class="upper">Scientific Research</p>
                    <p class="lower">Use eye tracking to deepen your understanding of human behavior and create new frontiers in fields such as psychology and neuroscience, infant and child development, clinical research, and more.</p>
                    <p class="read-more">
                        <span style="font-size: 25px;">&#8594; Read more</span>
                    </p>
                </div>
            </div>
            <div class="first"data-aos="fade-up" >
                <img src="images/marketing.jfif" alt="">
                <div class="text-area">
                    <p class="upper">Marketing and User Research</p>
                    <p class="lower">Eye tracking allows you to see things from the perspective of consumers. Whether you’re examining product placement, packaging design, advertising, or user experience, eye tracking accurately reveals what grabs attention, what influences purchase behavior, and how consumers engage with your product.</p>
                    <p class="read-more">
                        <span style="font-size: 25px;">&#8594; Read more</span>
                    </p>
                </div>
            </div>
            <div class="first" data-aos="slide-left">
                <img src="images/human research.jfif" alt="">
                <div class="text-area">
                    <p class="upper">Industry and Human Performance</p>
                    <p class="lower">Eye tracking gives you a deeper understanding of how your workplace functions and how staff operate within it, allowing you to make changes to the way things are done and continually optimize your processes. For highly skilled professions, eye tracking provides the opportunity to capture insight on how individuals perform their work and clearly illustrate it to others.</p>
                    <p class="read-more">
                        <span style="font-size: 25px;">&#8594; Read more</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="con-pic">
        <p class="nobe" data-aos="slide-right">
            "We Always Try To make a brightful brightful future of students for the sake of the<br> 
            nation Lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, quia."
        </p>
    </div>
    <section class="about">
        <p style="color: black;" class="title" data-aos="slide-right">Our Expert professor and officer</p>
        <div class="container2">
            <div class="second2" data-aos="slide-right">
                <div class="pic">
                <img src="images/director.jfif" alt=""></div>
                    <p class="upper1">Managing Director</p>
                    <p class="lower1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt labore, magni veritatis reiciendis aliquam voluptatibus harum dolore quaerat quas possimus inventore vitae sunt voluptatem amet, provident, ab quo enim!</p>
            </div>
            <div class="second2"data-aos="fade-down" >
                <div class="pic">
                <img src="images/manager.jfif" alt=""></div>
                    <p class="upper1">Executive Chief</p>
                    <p class="lower1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt labore, magni veritatis reiciendis aliquam voluptatibus harum dolore quaerat quas possimus inventore vitae sunt voluptatem amet, provident, ab quo enim!</p>
            </div>
            <div class="second2" data-aos="slide-left">
                <div class="pic">
                <img src="images/professor.jfif" alt=""></div>
                    <p class="upper1">professor's chief</p>
                    <p class="lower1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt labore, magni veritatis reiciendis aliquam voluptatibus harum dolore quaerat quas possimus inventore vitae sunt voluptatem amet, provident, ab quo enim!</p>
            </div>
        </div>
    </section>
    <section class="semi-final"> 
      <p class="title"data-aos="slide-left" >1000 + branches in the world</p>
        <div class="container0" data-aos="slide-right">
            <div class="rigt">
                <img src="images/locvation.jpg" alt="">
            </div>
        </div>
    </section>
{{>footer}}