    <footer class="footer">
        <div class="container50">
            <div class="row">
                <div class="footer-col">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>MAIN-SERVICES</h4>
                    <ul>
                        <li><a href="#">graduation</a></li>
                        <li><a href="#">high quality training</a></li>
                        <li><a href="#">phd holder professor</a></li>
                        <li><a href="#">good facilities</a></li>
                        <li><a href="#">brilliant resource</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FOLLOW US</h4>
                    <div class="socialinks4">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> 



    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./script.js"></script>
</body>
</html>